@import '../../style/palette.css';

.list-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 46vw);
    grid-gap: 2% 4%;
    padding: 20px 4%;
    justify-content: center;
    align-items: stretch;
}

.list-wrapper .card-content {
    flex: 1;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.list-wrapper .card-content .card-title {
    line-height: normal;
}

.list-wrapper .card-reveal {
  padding: 10px;
}
.list-wrapper .card-reveal p {
  margin: 0;
  padding: 0;
  padding-right: 28px;
}
.list-wrapper .card-header i,
.list-wrapper .card-reveal i {
    position: absolute;
    top: 20%;
    right: 10px;
    transform: translateY(-50%);
}

.list-wrapper .card-title {
    font-size: 16px;
    padding-right: 15px
}

.list-wrapper .card-image {
    flex: 0 0 100px;
}

.list-wrapper .card-image img {
    width: 100%;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
    object-fit: fill;
}

.list-wrapper .card-actions {
    justify-content: space-between;
}

.list-wrapper .card-reveal .card-title {
    align-items: center;
    justify-content: space-between;
}

.list-wrapper .like-icon {
    color: var(--secondary-text-color);
}

.list-wrapper .like-icon:not(.active-icon):hover {
    color: var(--light-primary-color);
}

.list-wrapper .active-icon {
    color: var(--default-primary-color);
}

@media only screen and (min-width: 640px) {
    .list-wrapper {
        grid-template-columns: repeat(2, 49vw);
        grid-gap: 2%;
    }
}

@media only screen and (min-width: 800px) {
    .list-wrapper {
        grid-template-columns: repeat(3, 31vw);
        padding: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .list-wrapper {
        grid-template-columns: repeat(4, 22.5vw);
    }
}

@media only screen and (min-width: 1280px) {
    .list-wrapper {
        grid-template-columns: repeat(5, 18vw);
    }
}
