<div class="upvote-page">
    <h4 class="indigo-text upvote-page__title">Trending</h4>
    {{#each upvotes}}
    <div class="row">
        <div class="col s12 l10 push-l1 xl8 push-xl2">
            <div class="card">
                <div class="card-ranking indigo-text text-darken-2">
                    {{count}}
                </div>
                <div class="card-content">
                    <div class="card-image">
                        <img src="{{artworkUrl60}}">
                    </div>
                    <div class="card-info">
                        <span class="card-title">{{collectionName}}</span>
                    </div>
                </div>
                <!-- <div class="card-action">
                    <span class="vote-count blue-text text-darken-2">{{count}} <i class="material-icons">favorite</i></span>
                </div> -->
            </div>
        </div>
    </div>
    {{/each}}
</div>