.upvote-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.upvote-page .row {
  margin-bottom: 10px;
}
.upvote-page .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upvote-page .card-ranking {
  padding-top: 20px;
  min-width: 100px;
  text-align: center;
  font-size: 32px;
  line-height: 1;
}
.upvote-page .card-image {
  min-width: 100px;
  padding-bottom: 20px;
}
.upvote-page .card-image img {
  display: block;
}
.upvote-page .card .card-action {
  border-top: 0;
}
.vote-count {
  display: inline-block;
  text-align: center;
}
.vote-count .material-icons {
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 640px) {
  .upvote-page .card {
    flex-direction: row;
  }
  .upvote-page .card-ranking {
    padding-top: 0;
  }
  .upvote-page .card-content {
    display: flex;
  }
  .upvote-page .card-image {
    margin-right: 15px;
  }
}