.upvote-page {
  padding: 10px;
}

.upvote-page__title {
  font-size: 20px;
  margin: 10px 0;
}

.upvote-page .card {
  display: flex;
  margin:  0;
  padding: 0;
  background: #ffffff;
  justify-content: space-between;
  box-shadow: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.card .card-info {
  display: flex;
}
.upvote-page .card-info__ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  text-align: center;
  background: #303F9F;
  color: #FFFFFF;
  padding: 0 5px;
}

.card-info__ranking {
  flex-direction: column;
}

.upvote-page .card-image img {
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  object-fit: fill;
  border-radius: 100%;
}

.card-info__ranking  span {
  font-size: 30px;
  font-weight: 800;
  padding-right: 5px;
}
.upvote-page .card-info__title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  padding-left: 10px;
  width: 69%;
}

.upvote-page .card-image {
  display: flex;
  align-items: center;
  margin: 5px;
}
.upvote-page .card .card-action {
  border-top: 0;
}
.vote-count {
  display: inline-block;
  text-align: center;
}
.vote-count .material-icons {
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 640px) {
  .upvote-page .card-image {
    width: 100px;
    margin: 10px;
  }
  .upvote-page .card-image img {
    width: 100px;
    height: 100px;
  }
  .card-info__ranking  span {
    font-size: 60px;
  }
  .upvote-page .card-info__title {
    font-size: 24px;
    padding-left: 20px;
  }
  .upvote-page .card {
    flex-direction: row;
  }
  .upvote-page .card-content {
    display: flex;
  }

}

@media only screen and (min-width: 768px) {
  .upvote-page .card-info__ranking {
    font-size: 32px;
    min-width: 100px;
    min-height: 100px;
    padding: 0 10px;
  }
  .upvote-page__title {
    font-size: 30px;
  }
  .upvote-page .card-image {
    width: 100px;
  }
  .upvote-page .card-info__title {
    width: auto;
  }
  .upvote-page {
    padding: 30px;
  }
}
