.nav {
  display: flex;
  align-items: center;
}

.nav i.material-icons{
  float: left;
}

.menu__link {
  padding: 2px;
}

.title {
  font-size: 14px;
  margin: 10px 0 10px 10px;
}

.spacer{
  flex: 1;
}

@media only screen and (min-width: 360px) {
  .title {
    font-size: 17px;
  }
  .menu__link {
    padding: 3px;
  }
}
@media only screen and (min-width: 414px) {
  .title {
    font-size: 20px;
  }
  .menu__link {
    padding: 6px;
  }
}

@media only screen and (min-width: 640px) {
  .title {
    font-size: 24px;
  }
  .menu__link {
    padding: 15px;
  }
}