<div class="navbar-fixed">
    <nav class="nav">
        <h1 id="appHeader" role="button" class="title">iTunes Search app</h1>
        <div class="spacer"></div>
        <ul>
            <li>
                <a href="" id="loginLink">
                    <i class="material-icons">person</i>
                    Login/Signup
                </a>
            </li>
            <li>
                <a href="" id="favLink">
                        <i class="material-icons">favorite</i>
                        Upvotes
                </a>
            </li>
        </ul>
    </nav>
</div>