<div class="navbar-fixed">
  <nav class="nav dark-primary-color">
    <h1 id="appHeader" role="button" class="title u-pointer">Music finder</h1>
    <div class="spacer"></div>
    <ul class="menu">
      {{#if isGuest}}
      <li class="menu__item">
        <a href="javascript:void(0);" class="menu__link user_info">
          <i class="material-icons">person</i>
          {{email}}
        </a>
      </li>
      <!-- START: {Adding Push} {4} out of {5} -->
      <li class="menu__item">
        <a href="javascript:void(0);" id="subscribeLink" class="menu__link">
          <i class="material-icons">input</i>
          <span class='icon-text'>Subscribe</span>
        </a>
      </li>
      <!-- END: {Adding Push} {4} out of {5} -->
      <li class="menu__item {{#eq activeView 'login'}}active{{/eq}}">
        <a href="javascript:void(0);" id="loginLink" class="menu__link">
          <i class="material-icons">input</i>
          <span class='icon-text'>Login/Signup</span>
        </a>
      </li>
      {{/if}}
      {{#if isLoggedIn}}
      <li class="menu__item {{#eq activeView 'login'}}active{{/eq}}">
        <a href="javascript:void(0);" class="menu__link user_info">
          <i class="material-icons">person</i>
          {{email}}
        </a>
      </li>
      <li class="menu__item">
        <a href="javascript:void(0);" id="logoutLink" class="menu__link">
          <i class="material-icons">settings_power</i>
          <span class='icon-text'>Logout</span>
        </a>
      </li>
      {{/if}}
      <li class="menu__item {{#eq activeView 'search'}}active{{/eq}}">
        <a href="javascript:void(0);" id="searchLink" class="menu__link">
          <i class="material-icons">search</i>
          <span class='icon-text'>Search</span>
        </a>
      </li>
      <li class="menu__item {{#eq activeView 'favorites'}}active{{/eq}}">
        <a href="javascript:void(0);" id="favLink" class="menu__link">
          <i class="material-icons">favorite</i>
          <span class='icon-text'>Upvotes</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
