.nav {
  display: flex;
  align-items: center;
}

.nav i.material-icons{
  float: left;
}

@media (max-width: 500px) {
  nav ul a{
    padding:0;
  }
}

.title {
  font-size: 24px;
  margin: 10px;
}

.spacer{
  flex: 1;
}