@import '../style/utils.css';

html {
  box-sizing: border-box;
}
*, *::before, *::after  {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: #eee;
}

#initial-content {
  margin: auto;
  max-width: 170px;
}

#initial-content.hide {
  display: none;
}
