.nav-wrapper {
  align-items: center;
}

.dropdown-wrapper {
  text-align: center;
  position: relative;
  width: 100px;
  left: 60px;
  display: block;
}

.dropdown-wrapper:hover {
  background: #009688;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
}

.search-wrapper {
  position: relative;
  width: 30vw;
  padding-top: 20px;
}

.search-wrapper i {
  position: absolute;
  left: 12px;
  top: 30px;
}

.search-wrapper input.search-input {
  background: rgba(255, 255, 255, .3);
  border-radius: 3px;
  padding-left: 50px;
}

.btn-wrapper {
  margin: auto 10px;
}

ul li.select {
  font-weight: 600;
  background: #e0e0e0;
}

.dropdown-button.active + .dropdown-content {
  opacity: 1;
  display: block;
}
