.nav-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.dropdown-wrapper {
  min-width: 110px;
  text-align: center;
}

.dropdown-wrapper:hover {
  background: #009688;
}

.search-wrapper {
  position: relative;
  flex-grow: 1;
  padding-top: 20px;
}

.search-wrapper i {
  position: absolute;
  left: 12px;
  top: 30px;
}

.search-wrapper input.search-input {
  background: rgba(255, 255, 255, .3);
  border-radius: 3px;
  box-sizing: border-box;
  padding-left: 50px;
}

.btn-wrapper {
  margin: auto 10px;
}

ul li.select {
  font-weight: 600;
  background: #e0e0e0;
}

.dropdown-button {
  height: 3rem;
  padding: 10px 6px;
}

.dropdown-button.active + .dropdown-content {
  opacity: 1;
  display: block;
}

@media only screen and (min-width: 640px) {
  .search-wrapper {
    width: 40vw;
    flex-grow: initial;
  }
}