<div class="container login">
    <h5 class="login__title primary-text-color">Login / Signup</h5>
    <div class="z-depth-1 row form-container">
        <form class="col s12">
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate">
                        <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" type="password" class="validate">
                        <label for="password" data-error="wrong" data-success="right">Password</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a id="btn-signup" class="col s5 offset-s1 accent-color btn waves-effect waves-light">Signup
                    </a>
                    <a id="btn-login" class="col s5 offset-s1 accent-color btn waves-effect waves-light">Login
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>